*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
}

img {
    width: auto;
    height: 20px;
    display: block;
    /* border: 1px solid black; */
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


input {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    border: none;
    text-align: right;
    width: 100%;
    background-color: #f4f8fb;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 1.5em;
}

input:focus-visible {
    outline-color: #5cc0a9;
}

.error:focus-visible {
    outline-color: orangered;
}

#bill-input {
    background-image: url(images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 15px;
}

#num-of-people {
    background-image: url(images/icon-person.svg);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 15px;
}

::placeholder {
    color:hsla(186, 14%, 56%, 0.767)
}

.label-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    font-size: 16px;
    color: hsl(184, 11%, 49%);
    font-weight: 700;
}

.error-message {
    color: orangered;
    display: none;
    font-size: 12px;
}

.bd {
    border: 1px solid black;
}

.main-container {
    width: 375px;
    margin: auto;
    background-color: hsl(185, 41%, 84%);
    border-radius: 0 0 18px 18px;
}

.title-container {
    text-align: center;
    text-transform: uppercase;
    padding: 2em 0;
    letter-spacing: 10px;
    font-size: 12px;
    color: hsl(183, 100%, 15%);
    
}

.bg-color {
    background-color: white;
    border-radius: 18px;
}

.data-container {
    padding: 1em;
    padding-top: 0.5em;
    border-radius: 18px;
    background-color: white;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 1.5em;
}

button {
    padding: 8px 0.5em;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    background-color: hsl(183, 100%, 15%);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out
}

.button-container button:hover:not(#custom) {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

#custom {
    background-color: #f4f8fb;
    color: hsl(184, 11%, 49%);
}

#custom:hover {
    background-color: hsl(184, 11%, 49%);
    color: #f4f8fb;
}

.display-container {
    padding: 2em 1em;
    background-color: hsl(183, 100%, 15%);
    border-radius: 18px;
}

.display-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    margin-bottom: 1em;
}

.display-label-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */

}

p {
    font-size: 16px;
    font-weight: 700;
    color: white;
}

span {
    font-size: 14px;
    color: hsl(184, 14%, 56%);
    font-weight: 700;
}

.value-display {
    color: hsl(172, 67%, 45%);
    font-weight: 700;
    font-size: 28px;
}

.display-container button {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    background-color: hsl(172, 67%, 45%);
    padding: 0.7em;
    color: hsl(183, 100%, 15%);
}

.display-container button:hover {
    background-color: hsl(185, 41%, 84%);
}

